*       {
        box-sizing: border-box;
        margin: 0;
        }
body {  
        background-image: linear-gradient(to bottom right, #78d5db , #30aab3);
        font-family:Comic Sans MS, Comic Sans, cursive,Arial, sans-serif ;
        overflow-x: hidden;
        overflow-y: auto;
        }
@media (max-width: 1400px){
        .logo{display: none;}
        .NavArea{display: none;}
        }

@media (min-width: 1400px){
        .mobile-menu{display: none;}
}

/* Hover effect for desktop links */
#nav-bar a:hover {
    color: white;
    text-decoration: underline;
}

/*===========================================
DESKTOP DISPLAY
=============================================*/

        
@media (min-width: 1400px){
        .logo   { 
                font-size: 20px; 
                color:#95dee3;
                display: flex;
                justify-content: left;
                height: 66px;
                width: 260px;
                background-color:#c0ebee;
                }
        }

@media (min-width: 1400px){
        .logo p {
                padding-left: 1.3em;
                text-decoration: underline;
                text-decoration-thickness: 50%;
                font-weight: bold;
                letter-spacing: 2px;
                height: 10px;
                width: 260px;
                border:2px;
                margin-top: 10px;
                }
        }

 @media (min-width: 1400px){      
        .NavArea{
                display:flex;
                background-color:#5bcbd3 ; 
                background-position: 2em;
                width: 100%;
                height: 4em;
                }
        }

 @media (min-width: 1400px){       
        .NavArea .container { 
                display: flex;
                font-weight: bold;
                justify-content: center;
                padding-left: 30em;
                margin-top: 5px;
                }
        }

@media (min-width: 1400px){
        #home{
                flex-direction:row;
                padding-right: 4em; 
                font-size: 40px;
                color: #95dee3;
                z-index: 3;
                }
        }

@media (min-width: 1400px){        
        #GalleryPage{
                flex-direction:row;
                padding-right: 4em; 
                font-size: 40px;
                color: #95dee3;
                z-index: 3;
                }
        }

@media (min-width: 1400px){        
        #AboutPage{
                flex-direction:row;
                padding-right: 3em; 
                font-size: 40px;
                color:#95dee3;
                z-index: 3;
                }
        }

@media (min-width: 1400px){        
        #BlogPage{
                flex-direction:row;
                padding-right: 2em; 
                font-size: 40px;
                color:#95dee3;
                z-index: 3;
                }
        }

 @media (min-width: 1400px){       
        .WelcomeArea{
                width: 100%;
                height: 50em;
                background-color: gray;
                }
        }

 @media (min-width: 1400px){       
        .footer-list{
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
                list-style: none;
                text-align: center;
                z-index: -3;
                position: sticky;
                margin-top: 25px;
                margin-bottom: 25px;
                font-size: 20px;
                
                }
        }

@media (min-width: 1400px){        
        .footer-list li {
                display: inline;
                white-space: nowrap;
                }
        }

        
/*====================================================
MOBLIE DISPLAY
====================================================*/
.menu-toggle {
        display: flex;
        background: none;
        border: none;
        color: #080808;
        background-color:#c0ebee;
        font-size: 50px;
        cursor: pointer;
        padding-left: 0;
        margin-top: 6px;
        margin-right: 10px;
        z-index: 3;
        margin-left: auto;
        margin-top: -1.5em;
        position: sticky;
}

#menu-toggle{
        color: #78d5db;
        }

@media (max-width: 1400px){
        .mobile-logo  { 
                font-size: 20px; 
                color:#95dee3;
                display: flex;
                flex-direction: column;
                justify-content: left;
                height: 66px;
                width: 260px;
                background-color:#c0ebee;
                width: auto;
                
                }
        }

@media (max-width: 1400px){
        .mobile-logo p {
                padding-left: 1.3em;
                text-decoration: underline;
                text-decoration-thickness: 50%;
                font-weight: bold;
                letter-spacing: 2px;
                height: 10px;
                width: 260px;
                border:2px;
                margin-top: 10px;
                }
        }

 @media (max-width: 1400px){     
        .mobile-menu{
                max-width: 990px;
                margin: auto;
                height: 310px;
                justify-content: center;
                }
        }

 @media (max-width: 1400px){      
        .mobile-menu .links-container {
                display: none;
                flex-direction: column;
                font-size: 54px;
                background-color:#1c6d6d;
                }
        }


 
@media (max-width: 1400px){       
        #mhome {
                display: flex;
                justify-content: center;
                color: white;
                border-bottom: 6px dotted #95dee3;
                padding-left: 50%;
                padding-right: 50%;
                background-image: linear-gradient(to bottom right, #78d5db , #30aab3)
                }
        }

@media (max-width: 1400px){       
        #mgallery {
                display: flex;
                justify-content: center;
                color: white;
                border-bottom: 6px dotted #95dee3;
                padding-left: 50%;
                padding-right: 50%;
                background-image: linear-gradient(to bottom right, #78d5db , #30aab3)
                }
        }

@media (max-width: 1400px){       
        #maboutus {
                display: flex;
                justify-content: center;
                color: white;
                border-bottom: 6px dotted #95dee3;
                padding-left: 50%;
                padding-right: 50%;
                background-image: linear-gradient(to bottom right, #78d5db , #30aab3)
                }
        }

@media (max-width: 1400px){       
        #mblog {
                display: flex;
                justify-content: center;
                color: white;
                border-bottom: 6px solid #95dee3;
                padding-left: 50%;
                padding-right: 50%;
                background-image: linear-gradient(to bottom right, #78d5db , #30aab3)
                }
        }        

@media (max-width: 1400px){       
        .WelcomeArea{
                top: -200px;
                background-color: gray;
                width: auto;
                height: 72vh;
                position: relative;
                z-index: -3;
                }
        }



@media (max-width: 1400px){       
        .footer-list li {
                display: inline;
                white-space: nowrap;
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                margin-top:-80px;
                margin-bottom: 30px;
                font-size: 20px;
                padding-top: auto;
                padding-left:50%;
                padding-right:50%;
                padding-bottom:5vh;
                
                }
        }