

/* ============================================================
GLOBAL RESET & BASE STYLES
===============================================================*/
* {
        box-sizing: border-box;
        margin: 0;
}

body {
        background-color: black;
        font-family: Comic Sans MS, Comic Sans, cursive, Arial, sans-serif;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
}

::placeholder{
    color: white;
    padding-left: 10%;
    opacity: 0.5;
}

/* ============================================================
RESPONSIVE VISIBILITY
===============================================================*/
@media (max-width: 1400px) {
    .logo,
    .NavArea {
        display: none;
    }
}

@media (min-width: 1400px) {
    .mobile-menu {
        display: none;
    }
}


/* ============================================================
DESKTOP NAVIGATION
===============================================================*/
@media (min-width: 1400px) {
    
    /* Logo */
    .logo {
        font-size: 20px;
        color: #336f74;
        display: flex;
        align-items: center;
        height: 66px;
        width: 260px;
        background-color: #c0ebee;
        padding-left: 1.3em;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-thickness: 50%;
        letter-spacing: 2px;
    }

    /* Navigation Bar */
    .NavArea {
        display: flex;
        background-color: #336f74;
        width: 100%;
        height: 4.1em;
        border-bottom: 3px solid #30aab3;
        align-items: center;
    }

    .NavArea .container {
        display: flex;
        justify-content: center;
        font-weight: bold;
        gap: 8em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        padding-right: 12%;
    }

    #nav-bar a {
        font-size: 40px;
        color: #c0ebee;
        transition: 0.3s;
    }

    #nav-bar a:hover {
        color: white;
        text-decoration: underline;
    }

    /* Hero / Welcome image */
    .WelcomeArea {
        margin: auto;
        width: 60%;
        height: 50em;
        background-image: url("images/Superman\ banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border: 5px solid #30aab3;
        z-index: 3;  
    }

    .HeroText{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 75px;
        font-weight: 900;
        transform: translate(-50%, -50%);
        background-color: rgb(97, 96, 96, 0.7);
        
    }
    .herosubtext{
        position: absolute;
        top: 60%;
        left: 50%;
        font-size: 20px;
        font-weight: 400;
        transform: translate(-50%, -50%);
        }

    /* Footer */
    .footer-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        list-style: none;
        font-size: 20px;
        margin: 25px 0;
        text-align: center;
        color: white;
    }

    .footer-list li {
        display: inline-block;
        white-space: nowrap;
    }
}


/* ============================================================
MOBILE NAVIGATION
===============================================================*/
.menu-toggle {
        display: flex;
        border: none;
        background: #c0ebee;
        color: #080808;
        font-size: 80px;
        margin-left: 75%;
        margin-top: -110px;
        position: sticky;
}

#menu-toggle {
    color: #78d5db;
    
}

@media (max-width: 1400px) {

    /* Mobile Logo */
    .mobile-logo {
        font-size: 25px;
        color: white;
        background-color: #c0ebee;
        padding-left: 1em;
        display: flex;
        align-items: center;
        height: 100px;
        padding-right:10px ;
    }

    .mobile-logo p {
        font-weight: bold;
        text-decoration: underline;
        letter-spacing: 2px;
        margin-top:60px;
    }

    /* Mobile Menu Container */
    .mobile-menu {
        max-width: 100%;
        margin: auto;
    }

    /* Dropdown links menu */
    .mobile-menu .links-container {
        display: none;
        flex-direction: column;
        font-size: 54px;
        background-color: #1c6d6d;
        position: absolute;
        width: 100%;
        padding: 1% 1%;
        z-index: 9999;
    }

    /* Menu Items */
    #mhome, #mgallery, #maboutus, #mblog {
        display: flex;
        justify-content: center;
        color: white;
        border-bottom: 6px dotted #95dee3;
        background-image: linear-gradient(to bottom right, #78d5db, #30aab3);
        padding: 20px 0;
        }

        #mblog {
                border-bottom: 6px solid #95dee3;
        }


    /* Mobile Footer */
        .Footer{
                padding-top: 2em;
        }

        .footer-list li {
                font-size: 15px;
                text-align: center;
                margin: 3px ;
                margin-right: 25%;
                margin-left: 16%;
                padding-bottom: 2vh;
                white-space: wrap;
                list-style-type: none;
                color: white;
        }
}

/* ============================================================
 TABLETS
===============================================================*/
@media (max-width: 1399px){
       
      


        .WelcomeArea {
                margin: auto;
                margin-top: 10%;
                width: 75%;
                height: 50em;
                background-image: url("ShopMobileLogo.png");
                background-repeat: no-repeat;
                background-size: cover;
                border: 5px solid #30aab3;
                z-index: 3; 
                background-color: #95dee3;  
        }

        .HeroText{
                display: none;
        
        }

        .herosubtext{
                display: none;
        }

        .footer-list li {
                font-size: 15px;
                text-align: center;
                margin: 3px ;
                margin-right: 10%;
                padding-bottom: 2vh;
                white-space: wrap;
                list-style-type: none;
        
        }


}
/* ============================================================
GALLERY
===============================================================*/
@media (min-width: 1400px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: 8%;
        margin-top: 2%;
    }

    #imagesize{
        cursor: pointer;
        max-width: 20%;
        height: auto;
        padding-top: 2%;
        margin-left: 2%;
        padding-bottom: 2%;

    }
   

    .column {
        flex: 25%;
        max-width: 25%;
        padding: 10px;
    }
}

@media (max-width: 599px) {
    .row {
        margin-top: 2%;
        margin-left: 2%;
        position: relative;
        z-index: 1;            
    }
    #imagesize{
        cursor: pointer;
        max-width: 75%;
        height: auto;
        padding-top: 2%;
        margin-left: 10%;
        padding-bottom: 2%;
    }

    .column {
        width: 50%;
        padding: 20px 0;
        
    }

}

@media (min-width: 600px) and (max-width: 1399px){
        .row {
        margin-top: 5%;
        margin-left: 2%;
        position: relative;
        z-index: 1;            
    }

        #imagesize{
        max-width: 20%;
        height: auto;
        padding-top: 2%;
        margin-left: 10%;
        padding-bottom: 2%;
    }

     .column {
        width: 50%;
        padding: 20px 0;
        
    }
}

/* ============================================================
BLOG
===============================================================*/
@media (min-width: 1400px) {
        .bRow{
               display: flex;
               flex-direction: row;
               margin: 10%;
               flex-wrap: wrap;
               border: 4px solid #30aab3;
               padding-top: 5em;
               padding-left: 2%;
               background-image: linear-gradient(to bottom right, #336f74, #0f0f0f);
        }

        #blerbs{
                display: flex;
                flex-direction: column;
                position: relative;
                font-size: 30px;
                width: 80%;
                margin-bottom: 10%;
                margin-left: 3em;
                bottom: 30em;
                top: 2%;
                margin-top: -6em;
                border-bottom: 2px solid #30aab3;
                padding: 4% 4% 4% 4%;
        }

        #thumbnail{
                position: relative;
                cursor: pointer;
                width: 50em;
                height: auto;
                margin-top:5em;
                margin-left: 15%;
                margin-bottom: 1em;
                border-radius: 24px;
                padding: 4% 4% 4% 4%;
        }


        #Dates{
                position: relative;
                font-size: 40px;
                padding: 4% 4% 4% 4%;
              
                
        }

}


@media  (max-width: 1399px){

 .bRow{
               display: flex;
               flex-direction: row;
               margin: 10%;
               justify-content: center;
               flex-wrap: wrap;
               border: 4px solid #30aab3;
               border-radius: 24px;
               padding-top: 5em;
              
        }

        .column{
                display: flex;
                flex-direction: column;
        }

        #blerbs{
                display: flex;
                width: 100%;
                margin-bottom: 25%;
                left: 60em;
                bottom: 30em;
                border-bottom:3px solid #1c7272;
                padding-left: 4%;
                color: white;
        }

        #thumbnail{
                position: relative;
                cursor: pointer;
                width: 80%;
                height: auto;
                margin-bottom: 1.2em;
                border-radius: 24px;
                left: 10% ;
        }


        #Dates{
                display: block;
                position: relative;
                margin-left: 3em;
                
        }
}


/* ============================================================
CONTACT
===============================================================*/
#about-header{
    color: white;
    text-align: center;
    padding-top: 2%;
}

#about-text{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    color:white;
    padding-bottom: 3%;
    
}

.user-input{
    
    background-color:#30aab3;
    }

#submit-button{
    background-color:#95dee3;
    padding:10px 20px 10px 20px;
    border-radius: 16px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    
    
}



@media (min-width: 800px) {
    .user-input{
        display: block;
        position: relative;
        padding-left: 15%;
        padding-top: 1%;
        height: 83vh;
        margin-right: 20%;
        margin-left: 20%;
        margin-top: 2%;
        margin-bottom: 2%;
        justify-content: center;
        
        
        
    }
    #submit-button:hover{
        transform: scale(1.05);
        color: white;
    }
    #submit-button:active{
        background-color:#1c7272 ;
    }

    .user-input #fn{
        width: 70%;
        background: rgb(0 0 0 / 20%);
        color: white;
        border-radius: 16px;
        padding-left: 10%;
    }
    .user-input #ln{
        width: 70%;
        background: rgb(0 0 0 / 20%);
        color: white;
        border-radius: 16px;
        padding-left: 10%;
    }

    .user-input #email{
        width: 70%;
        background: rgb(0 0 0 / 20%);
        color: white;
        border-radius: 16px;
        padding-left: 10%;
    }

     .user-input #ma{
        width: 70%;
        background: rgb(0 0 0 / 20%);
        color: white;
        border-radius: 16px;
        text-align: center;
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .user-input #submit-button{
        width: 50%;
        margin-left: 11%;
    }
}

@media  (max-width: 799px){
    .user-input{
        padding: 10%;
    }

    .user-input #fn{
        width: 100%;
        border-radius: 16px;
        background: rgb(0 0 0 / 20%);
        color: white;
        text-align: center;
    }
    .user-input #ln{
        width: 100%;
        border-radius: 16px;
        background: rgb(0 0 0 / 20%);
        color: white;
        text-align: center;
    }

    .user-input #email{
        width: 100%;
        border-radius: 16px;
        background: rgb(0 0 0 / 20%);
        color: white;
        text-align: center;
    }

    .user-input #ma{
        width: 100%;
        border-radius: 16px;
        background: rgb(0 0 0 / 20%);
        color: white;
        text-align: center;
    }

    .user-input #submit-button{
        width: 50%;
        margin-left: 25%; 
          
    }
}
  