

/* ============================================================
GLOBAL RESET & BASE STYLES
===============================================================*/
* {
        box-sizing: border-box;
        margin: 0;
}

body {
        background-color: black;
        font-family: Comic Sans MS, Comic Sans, cursive, Arial, sans-serif;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
}


/* ============================================================
RESPONSIVE VISIBILITY
===============================================================*/
@media (max-width: 1400px) {
    .logo,
    .NavArea {
        display: none;
    }
}

@media (min-width: 1400px) {
    .mobile-menu {
        display: none;
    }
}


/* ============================================================
DESKTOP NAVIGATION
===============================================================*/
@media (min-width: 1400px) {
    
    /* Logo */
    .logo {
        font-size: 20px;
        color: #95dee3;
        display: flex;
        align-items: center;
        height: 66px;
        width: 260px;
        background-color: #c0ebee;
        padding-left: 1.3em;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-thickness: 50%;
        letter-spacing: 2px;
    }

    /* Navigation Bar */
    .NavArea {
        display: flex;
        background-color: #336f74;
        width: 100%;
        height: 4.1em;
        border-bottom: 3px solid #30aab3;
        align-items: center;
    }

    .NavArea .container {
        display: flex;
        justify-content: center;
        font-weight: bold;
        gap: 8em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        padding-right: 12%;
    }

    #nav-bar a {
        font-size: 40px;
        color: #c0ebee;
        transition: 0.3s;
    }

    #nav-bar a:hover {
        color: white;
        text-decoration: underline;
    }

    /* Hero / Welcome image */
    .WelcomeArea {
        margin: auto;
        width: 60%;
        height: 50em;
        background-image: url("Superman banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border: 5px solid #30aab3;
        z-index: 3;  
    }

    .HeroText{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 100px;
        font-weight: 900;
        transform: translate(-50%, -50%);
        background-color: rgb(97, 96, 96, 0.7);
        
    }
    .herosubtext{
        position: absolute;
        top: 60%;
        left: 50%;
        font-size: 20px;
        font-weight: 400;
        transform: translate(-50%, -50%);
        }

    /* Footer */
    .footer-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        list-style: none;
        font-size: 20px;
        margin: 25px 0;
        text-align: center;
    }

    .footer-list li {
        display: inline-block;
        white-space: nowrap;
    }
}


/* ============================================================
MOBILE NAVIGATION
===============================================================*/
.menu-toggle {
        display: flex;
        border: none;
        background: #c0ebee;
        color: #080808;
        font-size: 80px;
        margin-left: 75%;
        margin-top: -110px;
        position: sticky;
}

#menu-toggle {
    color: #78d5db;
    
}

@media (max-width: 1400px) {

    /* Mobile Logo */
    .mobile-logo {
        font-size: 20px;
        color: #95dee3;
        background-color: #c0ebee;
        padding-left: 1em;
        display: flex;
        align-items: center;
        height: 100px;
        padding-right:10px ;
    }

    .mobile-logo p {
        font-weight: bold;
        text-decoration: underline;
        letter-spacing: 2px;
        margin-top:60px;
    }

    /* Mobile Menu Container */
    .mobile-menu {
        max-width: 100%;
        margin: auto;
    }

    /* Dropdown links menu */
    .mobile-menu .links-container {
        display: none;
        flex-direction: column;
        font-size: 54px;
        background-color: #1c6d6d;
        position: absolute;
        width: 100%;
        padding: 1% 1%;
        z-index: 9999;
    }

    /* Menu Items */
    #mhome, #mgallery, #maboutus, #mblog {
        display: flex;
        justify-content: center;
        color: white;
        border-bottom: 6px dotted #95dee3;
        background-image: linear-gradient(to bottom right, #78d5db, #30aab3);
        padding: 20px 0;
        }

        #mblog {
                border-bottom: 6px solid #95dee3;
        }


    /* Mobile Footer */
        .Footer{
                padding-top: 5em;
        }

        .footer-list li {
                font-size: 15px;
                text-align: center;
                margin: 3px ;
                margin-right: 25%;
                padding-bottom: 2vh;
                white-space: wrap;
                list-style-type: none;
               
        
        }
}

/* ============================================================
 TABLETS
===============================================================*/
@media (max-width: 1399px){
       
      


        .WelcomeArea {
                margin: auto;
                margin-top: 10%;
                width: 75%;
                height: 50em;
                background-image: url("ShopMobileLogo.png");
                background-repeat: no-repeat;
                background-size: cover;
                border: 5px solid #30aab3;
                z-index: 3; 
                background-color: #95dee3;  
        }

        .HeroText{
                display: none;
        
        }

        .herosubtext{
                display: none;
        }

        .footer-list li {
                font-size: 15px;
                text-align: center;
                margin: 3px ;
                margin-right: 10%;
                padding-bottom: 2vh;
                white-space: wrap;
                list-style-type: none;
        
        }


}
/* ============================================================
GALLERY
===============================================================*/
@media (min-width: 1400px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: 8%;
        margin-top: 2%;
    }

    #imagesize{
        max-width: 20%;
        height: auto;
        padding-top: 2%;
        margin-left: 2%;
        padding-bottom: 2%;
    }

    .column {
        flex: 25%;
        max-width: 25%;
        padding: 10px;
    }
}

@media (max-width: 599px) {
    .row {
        margin-top: 2%;
        margin-left: 2%;
        position: relative;
        z-index: 1;            
    }
    #imagesize{
        max-width: 75%;
        height: auto;
        padding-top: 2%;
        margin-left: 10%;
        padding-bottom: 2%;
    }

    .column {
        width: 50%;
        padding: 20px 0;
        
    }

}

@media (min-width: 600px) and (max-width: 1399px){
        .row {
        margin-top: 5%;
        margin-left: 2%;
        position: relative;
        z-index: 1;            
    }

        #imagesize{
        max-width: 20%;
        height: auto;
        padding-top: 2%;
        margin-left: 10%;
        padding-bottom: 2%;
    }

     .column {
        width: 50%;
        padding: 20px 0;
        
    }
}

/* ============================================================
BLOG
===============================================================*/
@media (min-width: 1400px) {
        .bRow{
               display: flex;
               flex-direction: row;
               margin: 10%;
               justify-content: center;
               flex-wrap: wrap;
               border: 4px solid #30aab3;
               padding-top: 5em;
               background-image: linear-gradient(to bottom right, #336f74, #0f0f0f);
        }

        #blerbs{
                display: flex;
                
                width: 500px;
                margin-bottom: 10%;
                left: 60em;
                bottom: 30em;
        }

        #thumbnail{
                position: relative;
                width: 400px;
                height: auto;
                margin-bottom: 5em;
                border-radius: 24px;
        }


        #Dates{
                
                position: relative;
                
                left: 16em;
                bottom: 3em;
        }
}


@media (max-width: 1399px){}
